.head{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 132, 255);

    border-radius: 25px;
    border: 4px solid rgb(147, 252, 118);
    padding: 20px;
    width: 500px;
    height: 50px;
    padding: 1px;
    margin: 0 auto;
    background-color: rgb(184, 213, 254) ;
}
.mid{
    text-align: center;
    color: rgb(0, 132, 255);
    border-radius: 25px;
    border: 4px solid rgb(147, 252, 118);
    margin: 0 auto;
    width: 350px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: rgb(184, 213, 254) ;
    
}
.so{
    color: white;
    width:100%;
    text-align: center;
}
